.myclass {
    background-color: #fac23e;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 5%;
}
.myclass div {
    flex: 0 0 32%;
}
.myclass .ltob {
    margin-top: -90px;
}
.myclass div:last-child h1 {
    font-size: 220px;
    font-weight: bolder;
}
.myclass div:last-child h2 {
    font-size: 120px;
    margin-top: -20px;
    font-weight: bolder;
}
.myclass div:first-child {
    margin: 0 5%;
}
.myclass div:first-child div {
    display: flex;
}
.myclass div:first-child div .jumbotron_buttons {
    background-color: transparent;
    flex: 0 0 40%;
    padding: 10px 20px;
    margin: 0 5%;
    border: 1px solid #fff;
    color: #fff;
}
.myclass div:first-child div .jumbotron_buttons:first-child {
    margin-left: 0%;
}
.jumbo_txt{
    font-size: 38px;
}
.jumbotron_event{
    width: auto;
    height: auto;
}
.myclass2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    color: #434242;
    padding: 1%;
    padding-bottom: 20px;
}
.myclass2 div {
    flex: 0 0 32%;
}
.myclass2 div:first-child {
    margin: 0 5%;
}
.myclass2 div:first-child div {
    display: flex;
}
.myclass2 .ltob {
    width: 800px;
}

.myclass3 {
    background-color: #373736;
    display: flex;
    justify-content: space-around;
    color: #fcc42b;
    padding: 1%;
    padding-bottom: 20px;
}
.myclass3 div {
    flex: 0 0 18%;
}
.myclass3 div:first-child {
    margin: revert;
}
.myclass3 div:nth-child(2){
    text-align: center;
    background: red;
}
.myclass3 div:first-child div {
    display: flex;
}
.myclass3 div:last-child {
    margin: inherit;
}

.jumbotron_event a {
    border-radius: 0px;
    background: #e5e5e5;
    width: 60%;
    line-height: 38px;
    font-size: 21px;
    margin: 3%;
    font-weight: 800;
}
.jumbotron_event a:hover {
    border-radius: 0px;
    background: #373736!important;
    width: 60%;
    margin: 3%;
    color: #fcc42b;
    font-weight: 800;
}

.jumbotron_event .active {
    border-radius: 0px;
    background: #373736!important;
    width: 60%;
    margin: 3%;
    color: #fcc42b;
    font-weight: 800;
}
.jumbotron_event a:hover:after, .jumbotron_event .active:after {
    content: "";
    display: block;
    border: 12px solid transparent;
    border-left-color: #373736;
    position: absolute;
    bottom: 15px;
    left: 105%;
    margin-left: -12px;
}
.jumbotron_event a:focus{
    color: #fcc42b;
}
.jumbotron_event a:hover:before, .jumbotron_event .active:before {
    content: "";
    display: block;
    border: 12px solid transparent;
    border-left-color: #373736;
    position: absolute;
    bottom: 15px;
    left: 105%;
    margin-left: -12px;
}
.jumbotron_event img{
    width: 100%!important;
}
.looking_to {
    width: 530px;
    height: 220px;
    margin-left: -250px!important;
}
.looking_to img {
    width: inherit;
    height: 220px;
    filter: grayscale(100%);
    object-fit: cover;
}

.into{
    margin: 7px 0px;
    padding: 7px 0px;
    font-weight: bold;
    color: #373736;
}
.learn_more{
    background-image: url("http://localhost/L2B_demo/custom/images/Learn-more.png");
    background-size: 20px;
    background-repeat: no-repeat;
}
.learn_more a{
    padding-left: 10px;
    text-decoration: none;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
}
.learn_more a:hover {
    text-decoration: none;
    background: transparent!important;
    font-weight: bold;
    font-size: 16px;
}
.font-bold{
    font-weight: bold!important;
}
.padding20{
    padding: 20px;
}
.padding-top5{
    padding-top: 5px!important;
}
.padding-top15{
    padding-top: 15px!important;
}